<% @page_title = "Admin Menu"%>

<div class = "menu">
	<h2>Admin Menu </h2>
	<div class = "identity">Logged in as:<%= session[:username]%></div>
	<ul>
		<li><%= link_to("View Pictures", :controller => 'private_users', :action => 'list' )%></li>
		<li><%= link_to("Logout", :action => 'logout_private')%></li>
	
	</ul>
</div>
