<% @page_title = "Delete Admin User: #{@private_user.name}" %>

<%= link_to("<< Back to List", {:action => 'list_private_users'}, :class => 'back-link') %>

<div class="user delete">
  <h2>Delete Private User</h2>
  
  <%= form_for(:private_user, :url => {:action => 'destroy_private_user', :id => @private_user.id}) do |f| -%>

    <p>Are you sure you want to permanently delete this private user?</p>
  
    <p class="reference-name"><%= @private_user.name %></p>
  
    <div class="form-buttons">
      <%= submit_tag("Delete Private User") %>
    </div>
    
  <% end %>
</div>