<% @page_title = 'Create Private Picture' %>

<%= link_to("<< Back to List", {:action => 'list_private_pictures', :private_user_id => @private_user.id}, :class => 'back-link') %>

<div class="user new">
  <h2>Create Public Picture</h2>

  <%= form_for(:private_picture,:url => {:action => 'create_private_picture', :private_user_id => @private_user.id}) do |f| %>

    <%= render(:partial => 'form_private', :locals => {:f => f} ) %>
  
    <div class="form-buttons">
      <%= submit_tag('Create Private Picture') %>
    </div>
  
  <% end %>
</div>
