<% @page_title = 'Create Private User' %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="user new">
  <h2>Create Private User</h2>

  <%= form_for(:private_user, :url => {:action => 'create_private_user'}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f} ) %>
  
    <div class="form-buttons">
      <%= submit_tag('Create New User') %>
    </div>
  
  <% end %>
</div>
