
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta name="XAR Files" content="gardali_htm_files/xr_files.txt"/>
 <title>GarDali Effect</title>
 <meta http-equiv="Content-Type" content="text/html; charset=Windows-1252"/>
 <meta name="Generator" content="Xara HTML filter v.4.0.4.653"/>
 <link rel="stylesheet" type="text/css" href="gardali_htm_files/highslide.css" />
 <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="gardali_htm_files/highslide-ie6.css" /><![endif]-->
 <script type="text/javascript" src="gardali_htm_files/highslide.js"></script>
 <link rel="stylesheet" type="text/css" href="gardali_htm_files/xr_main.css"/>
 <link rel="stylesheet" type="text/css" href="gardali_htm_files/xr_text.css"/>
 <script type="text/javascript" src="gardali_htm_files/roe.js"></script>
</head>
<body style="background-color: #000000">
<div class="xr_ap" id="xr_xr" style="width: 955px; height: 800px; top:0px; left:50%; margin-left: -478px;">
 <script type="text/javascript">var xr_xr=document.getElementById("xr_xr")</script>
 <img class="xr_ap" src="gardali_htm_files/0.png" alt="" title="" style="left: 0px; top: 0px; width: 955px; height: 800px;"/>
 <img class="xr_ap" src="gardali_htm_files/1.png" alt="" title="" style="left: 445px; top: 502px; width: 13px; height: 13px;"/>
 <img class="xr_ap" src="gardali_htm_files/2.png" alt="" title="" style="left: 461px; top: 502px; width: 13px; height: 13px;"/>
 <img class="xr_ap" src="gardali_htm_files/2.png" alt="" title="" style="left: 478px; top: 502px; width: 13px; height: 13px;"/>
 <img class="xr_ap" src="gardali_htm_files/2.png" alt="" title="" style="left: 494px; top: 502px; width: 13px; height: 13px;"/>
<!--[if IE]><div class="xr_ap" id="xr_xri" style="width: 955px; height: 800px; clip: rect(0px 955px 800px 0px);"><![endif]-->
<!--[if !IE]>--><div class="xr_ap" id="xr_xri" style="width: 955px; height: 800px; clip: rect(0px, 955px, 1800px, 0px);"><!--<![endif]-->

 <a href="index" target="_self" onclick="return(xr_nn());">
 <img class="xr_ap" src="gardali_htm_files/3.png" alt="" title="" onmousemove="xr_mo(this,0,event)" style="left: 631px; top: 22px; width: 54px; height: 29px;"/>
 </a>
 <a href="gallery" target="_self" onclick="return(xr_nn());">
  <img class="xr_ap" src="gardali_htm_files/4.png" alt="" title="" onmousemove="xr_mo(this,0,event)" style="left: 686px; top: 22px; width: 61px; height: 29px;"/>
 </a>
 <a href="about" target="_self" onclick="return(xr_nn());">
  <img class="xr_ap" src="gardali_htm_files/5.png" alt="" title="" onmousemove="xr_mo(this,0,event)" style="left: 749px; top: 22px; width: 55px; height: 29px;"/>
 </a>
 <a href="contact" target="_self" onclick="return(xr_nn());">
  <img class="xr_ap" src="gardali_htm_files/6.png" alt="" title="" onmousemove="xr_mo(this,0,event)" style="left: 805px; top: 22px; width: 64px; height: 29px;"/>
 </a>

 <span class="xr_s0" style="position: absolute; left:44px; top:94px;">
  <span class="xr_tl" style="top: -36px;">Fotograf&#237;a de Gardali </span>
 </span>
 <span class="xr_s1" style="position: absolute; left:47px; top:117px;">
 </span>

<br><br><br><br><br><br>

  <div class="pictures">
	<% @public_pictures.each do |picture| %>
		<%= link_to(image_tag("#{picture.location}", :size => "210x210", :tag => "#{picture.tag}", :title => "#{picture.description}"),picture.location)%>
	<% end %>
  </div>
</div>